body{
  background-image: /*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5))*/ url("http://www.4usky.com/data/out/37/164320282-geometry-wallpapers.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:100vh;
}
/* .triangle{
  width:40%;
  background-color: white;
  margin-left: 30%;
}
.triangle h1{
  text-align: center;
} */
